$bg: #ffffff;
$primaryColor: #000000;
$cta: #d9d9d9;
$ctaHover: #002432;
$ctaHoverText: #e4e4e4;
$space: 2rem;

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 100%;
    height: auto;
    padding: $space;
}

.banner {
    padding: $space/2;
}

/*.stage {
    display: none;
    &.active {
        display: block;
    }
}*/

.stage--split.active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: $space;
    .text {
        grid-column: 1/2;
        grid-row: auto;
    }
    .image {
        grid-column: 2/3;
        grid-row: 1/3;
        img{
            width: 100%;
            height: auto;
        }
    }
}

main {
    background-color: $bg;
    color: $primaryColor;
    padding: $space;
}

p {
    margin-bottom: $space/4;
    font-size: 18px;
}

h2 {
    margin-bottom: $space/2;
    font-size: 24px;
}

h1 {
    margin-bottom: $space/2;
    font-size: 32px;
}

.btn{
    background-color: $cta;
    color: $primaryColor;
    padding: 1rem 2rem;
    border: none;
    border-radius: $space;
    cursor: pointer;
    margin-top: $space;
    margin-bottom: $space*2;
    transition: all 0.3s ease;
    font-size: 18px;

    &:hover {
        background-color: $ctaHover;
        color: $ctaHoverText;
    }
}